<div class="flex h-screen">
  <aside class="w-60 bg-gray-800 text-white p-5">
    <h2 class="text-xl font-bold mb-6">Menu</h2>
    <ul class="space-y-3">
      <li><a routerLink="/gastos" class="hover:underline cursor-pointer">Gastos</a></li>
      <li><a routerLink="/dashboard" class="hover:underline cursor-pointer">Dashboard</a></li>
    </ul>
  </aside>

  <main class="flex-1 p-6 bg-gray-100 overflow-y-auto">
    <h1 class="text-2xl font-bold mb-6">Controle de Gastos</h1>

    <div class="bg-white p-4 rounded-lg shadow mb-6">
      <h2 class="text-lg font-semibold mb-3">Adicionar Gasto</h2>
      <form (ngSubmit)="adicionarGasto()" #form="ngForm" class="grid gap-4 md:grid-cols-2">
        <p-select
          type="text"
          name="motivo"
          [(ngModel)]="tipoGasto"
          [options] = "tiposDeGasto()"
          placeholder="Motivo"
          class="p-inputtext p-component w-full"
        />

        <p-inputnumber
          name="valor"
          [(ngModel)]="valor"
          mode="currency"
          currency="BRL"
          locale="pt-BR"
          required
          placeholder="Valor (R$)"
        />

        <button
          type="submit"
          pButton
          label="Adicionar"
          class="md:col-span-2"
          [disabled]="!form.form.valid"
        ></button>
      </form>
    </div>

    <div class="bg-white p-4 rounded-lg shadow">
      <h2 class="text-lg font-semibold mb-4">Gastos cadastrados</h2>
      <ul class="divide-y divide-gray-200">
        <li
          *ngFor="let motivo of motivo(); index as i"
          class="py-2 flex justify-between items-center"
        >
          <span>{{ motivo.tipo }} - R$ {{ motivo.valor.toFixed(2) }}</span>
          <button class="text-red-600 hover:underline" (click)="removerGasto(i)">Remover</button>
        </li>
      </ul>
    </div>
  </main>
</div>
